{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ ticket.category }}
{% endblock %}
{% block content %}
    <div class="blog-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            {{ ticket.category }}
        </h3>
            <div class="blog-post">
            <h1>{{ ticket.title }}</h1>
        <hr>
            <form action="result" method="get">
                {% for question in ticket.questions.all %}
                     <hr>
                    <h3>{{ question.title }}</h3>
                    <div class="custom-control custom-radio" id="{{ question.id }}">
                        {% for answer in question.answers_as_list %}
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="{{ answer }}"
                                       name="{{ question.id }}" value="{{ answer }}">
                                <label class="custom-control-label" for="{{ answer }}">{{ answer }}</label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit" id="submit">Сдать тест</button>
            </form>
        </div>
    </div><!-- /.blog-post -->




{% endblock %}